*{
    padding: 0%;
    margin: 0%;
}

#nav{
    width: 80px;
    height: 100%;
    background: linear-gradient(to bottom, #ff6666 0%, #ff0066 100%);
    box-shadow: 1px 1px 20px 2px black;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    position: fixed;
    margin-right: 5%;
    float: left;
}

#navbutton{
    font-size: 30px;
    width: 50px;
    height: 50px;
    background: transparent;
    color: black;
    border-radius: 5px;
}

#navbutton{
    border: 5px solid white;
    display: flex;
    color: red;
    background: linear-gradient(to bottom, #66ffff 0%, #99ffcc 100%);
    justify-content: center;
    align-items: center;
    pointer-events: painted;
}

#navbutton:hover{
     background-color: whitesmoke;
     border: rgb(224, 220, 0);
}

#menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#model{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu a{
    width: 100%;
    height: 50px;
    margin-bottom: 10%;
}

#menu a button{
    background-color: white;
    text-transform: uppercase;
    font-family: 'Potta One', cursive;
    font-weight: bold;
    width: 100%;
    padding: 1%;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.5s;
    color: black;
}

#menu a button:hover{
    background-color: #66ffff;
}

#mobilemenu{
    display: none;
}

#alert{
    margin-left:7%;
    position: absolute;
    top: 10%;
    box-shadow: 1px 1px 10px 2px black;
}

#fecherd{
    margin-left:6%;
    position: sticky;
}

#getstartbtn{
    position: absolute;
    bottom: 47%;
    right: 37%;
    box-shadow: 1px 1px 10px 2px black;
    text-transform: uppercase;
    font-family: 'Potta One', cursive;
    font-weight: bold;
    padding: 1%;
    font-size: 20px;
}

#getstartbtn:hover{
    color: white;
}

#headtitle{
    display: none;
}

#headbtn{
    display: none;
}

.homeicon{
    display: none;
}
#homeicondest{
font-size: 150px;
text-align: center;
background-color: whitesmoke;
width: 100%;
}

#headtitledst{
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Londrina Solid', cursive;
    word-spacing: 10px;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 5%;
    background-color: whitesmoke;
    padding: 2%;
    }

#about{
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-top: 5%;
    background-color: whitesmoke;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    }

.ableft{
    text-align: right;
    float: right;
}

#mainpage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#upload{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

#upload .numinput{
    background-color: whitesmoke;
    width: 500px;
    text-transform: capitalize;
    font-family: 'Londrina Solid', cursive;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
}

#upload .numinput:hover{
    background-color: white;
}

#upload button{
    width: 500px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Londrina Solid', cursive;
    word-spacing: 10px;
    text-align: center;
    letter-spacing: 5px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to top left, #00ffcc 0%, #00ffff 100%);
    box-shadow: 1px 1px 10px 2px black;
    margin-bottom: 10%;
    margin-top: 5%;
}

#upload button:hover{
    color: white;
}

#loarder{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    background-color: white;
}

#ferorico{
    width: 190px;
    height: 190px;
    margin: 5%;
}

#py{
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5%;
    background-color: whitesmoke;
    padding: 5%;
    margin-bottom: 0%;
    padding-left: 10%;
    padding-right: 10%;
}

#ppli{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    background-color: whitesmoke;
    margin-top: 0%;
    width: 100%;
    padding-left: 10%;
    margin-bottom: 0%;
    padding-right: 10%;
    line-height: 40px;
}


#pyf{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0%;
    background-color: whitesmoke;
    padding: 5%;
    margin-bottom: 0%;
    padding-left: 10%;
    padding-right: 10%;
}

#cohome{
    position: fixed;
    bottom: 10%;
    right: 3%;
    width: 500px;
    height: 100px;
    background-color: #fff3cd;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 2px black;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#iconco{
    background-color: transparent;
    border: none;
    width: 60px;
    height: 20px;
    font-size: 20px;
    margin-top: -1%;
    color: gray;
}

#iconco:hover{
    color: black;
}



@media only screen and (max-width: 1182px){
#nav{
display: none;
}

#mobilemenu{
display: flex;
justify-content: space-evenly;
justify-items: center;
align-items: flex-start;
background: linear-gradient(to bottom, #ff6666 0%, #ff0066 100%);
position: fixed;
bottom: 0%;
width: 100%;
height: 60px;
padding-top: 5px;
box-shadow: 1px 1px 20px 2px black;
}

#mobilemenu a button{
width: 60px;
height: 50px;
background-color: white;
border: none;
font-size: 30px;
color: black;
padding-bottom: 10%;
border-radius: 5px;
}

#fecherd{
display: none;
}

#alert{
top: 3%;
margin-left: 2%;
margin-right: 2%;
}

#headtitle{
text-align: center;
display: block;
text-transform: uppercase;
font-weight: bold;
font-size: 40px;
font-family: 'Londrina Solid', cursive;
word-spacing: 10px;
letter-spacing: 5px;
margin-top: 10%;
width: 100%;
background: linear-gradient(to bottom, #00ffcc 0%, #66ffff 100%);
padding: 5%;
}

#headbtn{
display: block;
width: 100%;
background: linear-gradient(to bottom right, #00ffcc 0%, #ffff66 100%);
text-transform: uppercase;
font-weight: bold;
font-size: 40px;
font-family: 'Londrina Solid', cursive;
word-spacing: 10px;
letter-spacing: 5px;
border: none;
margin-top: 5%;
box-shadow: 1px 1px 10px 2px black;
}
.homeicon{
display: block;
font-size: 100px;
text-align: center;
margin-top: 5%;
}

#homeicondest{
font-size: 100px;
}

#headtitledst{
font-size: 30px;
margin-top: 20%;
}

#upload button{
width: 100%;
margin-bottom: 30%;
}
#upload .numinput{
width: 100%;
font-size: 20px;
}
#about{
font-size: 20px;
padding-bottom: 20%;
}
#py{
font-size: 15px;
padding-left: 2%;
padding-right: 2%;
}
#ppli{
font-size: 15px;
padding-left: 2%;
padding-right: 2%;
}
#pyf{
font-size: 15px;
padding-left: 2%;
padding-right: 2%;
margin-bottom: 30%;
}
#cohome{
width: 300px;
font-size: 12px;
right: 8%;
bottom: 15%;
}

#iconco{
margin-top: -2%;
}
}

#dbtn{
    text-decoration: none;
}