{% extends "layout.html" %}
{% block body %}

<div id="mainpage">

<div id="homeicondest">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
</div>


<h1 id="headtitledst">
    about us!
</h1>



<p id="about">
    Hello and welcome to PAC (pdf to audio converter). Our pdf to audio converter is a free application to convert your English language pdf book to audio (mp3) Converts to format.
    <br>
    <br>
    <span class="ableft">-Niraj bava</span>
    <br>
    <br>
    <br>

    नमस्ते तुमचं PAC (pdf to audio converter) मध्ये स्वागत आहे. आमचे हे audio to pdf converter हे एक फ्री application आहे जे की आपल्या इंग्लिश भाषेतील pdf पुस्तकाला ऑडियो (mp3) या
format मध्ये converet करून देते. या app ला बनवण्या साठी आम्ही python programming language चा  flask या frame work चा उपयोग केला आहे. या app ला आपल्या पर्यंत पोहचविण्यात pythonanywhere.com ने आमचे सहकार्य केले आहे आम्ही त्यांचे विशेष धन्यवाद करतो.
<br>
<br>
<span class="ableft">-निरज बावा</span>
</p>






{% endblock %}