{% extends "layout.html" %}
{% block body %}

<div id="mainpage">

<div id="homeicondest">
    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</div>


<h1 id="headtitledst">
    pdf to audio converter
</h1>

<form action="/uploader" method="POST" id="upload" enctype="multipart/form-data">
     <!-- <input type="file" name="file1" required> -->

     <div class="mb-3">
      <input class="form-control" type="file" name="file1" id="formFile">
    </div>

     <br>
     <br>
     <input type="number" name="start" class="numinput" placeholder="Enter Page Number To play From " required>
     <input type="number" name="end"  class="numinput"  placeholder="Enter page Number To End  " required>
    
     <button type="submit" onclick="loader()">upload file</button>
</form>


<div id="loarder">
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
</div>

</div>


{% endblock %}